Package: com.nicksworks.dottoplusplus
Name: dotto++
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Notifications, your style. A rootless adaptation of dotto+ 1.0.6 by Mirac & ConorTheDev, rebuilt by Nicks_Works.
Maintainer: Nick's Works <hadobedo@gmail.com>
Author: ConorTheDev & Mirac
Section: Tweaks
Depends: firmware (<< 18.0), ellekit, preferenceloader
Replaces: me.conorthedev.dotto+
Conflicts: me.conorthedev.dotto+
