Package: com.nicksworks.dottoplusplus
Name: dotto++
Version: 1.0.7
Architecture: iphoneos-arm64
Description: Rootless adaptation of dotto+ originally written by Mirac & ConorTheDev
Maintainer: Nick's Works <hadobedo@gmail.com>
Author: Nick's Works (Hadobedo)
Section: Tweaks
Depends: firmware (<< 18.0), ellekit, preferenceloader
Replaces: me.conorthedev.dotto+
Conflicts: me.conorthedev.dotto+
