<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
		<string>es</string>
		<string>ru</string>
		<string>ja</string>
		<string>ko</string>
		<string>pt-BR</string>
		<string>vi</string>
		<string>tr</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>dottoPlusPlusPrefs</string>
	<key>CFBundleIdentifier</key>
	<string>com.nicksworks.dottoplusplus.prefs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>DottoPlusPlusRootListController</string>
</dict>
</plist>
